body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.header-nav-address {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav-address::after {
    content: "";
    width: 100%;
}

.header-div {
    display: flex;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}


.logo_web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.studio {
    color: #2e2f42;
}

.studio_tab {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    position: relative;
}

.studio_tab::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.studio_tab:hover {
    color: #404bbf;
}

.studio_tab:focus {
    color: #404bbf;
}

.portfolio_tab {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.first-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portfolio {
    padding: 120px 0
}

.portfolio_tab:hover {
    color: #404bbf;
}

.portfolio_tab:focus {
    color: #404bbf;
}

.contacts_tab {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts_tab:hover {
    color: #404bbf;
}

.contacts_tab:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.mail_ {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.mail_:hover {
    color: #404bbf;
}

.mail_:focus {
    color: #404bbf;
}

.address_list {
    display: flex;
    gap: 40px;
}

.nav_list {
    display: flex;
    gap: 40px;
}

.title-main {
    background-color: #2E2F42;
    padding: 188px 0;
}

.title_effective {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #2E2F42;
    max-width: 496px;
    margin: 0 auto 20px;
}

.button_order {
    background-color: #4d5ae5;
    font-family: "Roboro" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.button_order:hover {
    background-color: #404bbf;
}

.button_order:focus {
    background-color: #404bbf;
}

.button_order {
    cursor: pointer;
}

.about_tab {
    padding: 120px 0;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about_table {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.about_p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.about_tab_title {
    visibility: hidden;
}

.about_ta {
    display: flex;
    gap: 24px;
}

.secont-section-list {
    width: calc((100% - 72px) / 4);
}

.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.our-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.our-team-tab {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.team-tab {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio--list {
    list-style-type: none;
    display: flex;
    row-gap: 48px;
    flex-wrap: wrap;
    column-gap: 24px;

}

.portfolio-list {
    width: calc((100% - 72px) / 4);
}

.our-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px
}

.card-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-span {
    color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.card {
    padding: 32px 0;
}